{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run bash {{ solution }} {{ case["input"]["inputBase"] }} "{{ case["input"]["digits"] | join(" ") }}" {{ case["input"]["outputBase"] }}
{%- if case["expect_error"] %}
    assert_failure
    {#- The error message from the canonical data is not used. #}
    assert_output    # there is _some_ output
{%- else %}
    assert_success
    assert_output "{{ case["expected"] | join(" ") }}"
{%- endif %}
}
{% endfor %}
