{{ header }}

# Note: using ANSI-C Quoting here
# see https://www.gnu.org/software/bash/manual/bash.html#ANSI_002dC-Quoting
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run bash {{ solution }} ${{ case["input"]["diagram"] | repr }} "{{ case["input"]["student"] }}"
    assert_success
    assert_output "{{ case["expected"] | join(" ") }}"
}
{% endfor %}
