{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
{%- if case["expect_error"] %}
    expected="-1"
{%- else %}
    expected={{ case["expected"] }}
{%- endif %}
    input=({{ case["input"]["array"] | join(" ") }})
    run bash {{ solution }} {{ case["input"]["value"]}} "${input[@]}"
    assert_success
    assert_output "$expected"
}
{% endfor %}
