{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run bash {{ solution }} "{{ case["input"]["strand"] }}"
{%- if case["expect_error"] %}
    assert_failure
    assert_output "{{ case["expect_error_msg"] }}"
{%- else %}
    assert_success
    assert_output "{{ case["expected"] | join(" ") }}"
{%- endif %}
}
{% endfor %}
