{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
{%- if case["description"] == "no rows" %}
    run bash {{ solution }}
{%- elif case["description"] == "no columns" %}
    run bash {{ solution }} <<<""
{%- else %}
    run bash {{ solution }} <<INPUT
{{ case["input"]["strings"] | join("\n") }}
INPUT
{%- endif %}
    assert_success
    assert_output "{{ case["expected"] }}"
}
{% endfor %}
