{{ header }}
{% for case in cases %}
@test "{{ case["description"] }}" {
    {% if loop.first %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    expected="{{ case["expected"] | join(" ") }}"
    run bash {{ solution }} {{ case["input"]["value"] }}
    assert_success
    assert_output "$expected"
}
{% endfor %}
