{{ header }}
{% for case in cases %}
@test "{{ case["description"] }}" {
    {% if loop.first %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    input=$(cat <<END
{{ case["input"]["lines"] | join("\n") }}
END
)
    expected=$(cat <<END
{{ case["expected"] | join("\n") }}
END
)
    run bash {{ solution }} <<< "$input"
    assert_success
    assert_output "$expected"
}
{% endfor %}
