{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run bash {{ solution }} "{{ case["input"]["digits"] }}" "{{ case["input"]["span"] }}"
{%- if case["expect_error"] %}
    expected="{{ case["expect_error_msg"] }}"
    assert_failure
    assert_output --partial "$expected"
{%- else %}
    expected={{ case["expected"] }}
    assert_success
    assert_output "$expected"
{%- endif %}
}
{% endfor %}
