{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} '{{ case["input"]["strand1"] }}' '{{ case["input"]["strand2"] }}'
{%- if case["expect_error"] %}
  assert_failure
  assert_output --partial "{{ case["expect_error_msg"] }}"
{%- else %}
  assert_success
  assert_output "{{ case["expected"] }}"
{%- endif %}
}
{% endfor %}
@test "no input" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }}
  assert_failure
  assert_output "Usage: {{ solution }} <string1> <string2>"
}

@test "invalid input" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} 'A'
  assert_failure
  assert_output "Usage: {{ solution }} <string1> <string2>"
}

# Within [[...]] the == operator is a _pattern matching_ operator.
# To test for string equality, the right-hand side must be
# quoted to prevent interpretation as a glob-style pattern.

@test "expose subtle '[[ \$x == \$y ]]' bug" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} 'AAA' 'A?A'
  assert_success
  assert_output "1"
}
