# {{ .Spec.Name }}

{{ .Spec.Description -}}
{{- with .Hints }}
{{ . }}
{{ end }}

Run the tests with:

```bash
bats {{ .Spec.SnakeCaseName }}_test.sh
```

After the first test(s) pass, continue by commenting out or removing the `skip` annotations prepending other tests.

{{- with .Spec.Credits -}}
## Source

{{ . }}
{{ end }}
## Submitting Incomplete Solutions
It's possible to submit an incomplete solution so you can see how others have completed the exercise.
