{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run bash {{ solution }} {{ case["input"]["year"] }} {{ case["input"]["month"] }} {{ case["input"]["week"] }} {{ case["input"]["dayofweek"] }}
    assert_success
    assert_output "{{ case["expected"] }}"
}
{% endfor %}
