{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} '{{ case["input"]["phrase"] }}'
  assert_success
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
