{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
{%- if case["expect_error"] %}
    expected="{{ case["expect_error_msg"] }}"
    run bash {{ solution }} "{{ case["input"]["series"] }}" {{ case["input"]["sliceLength"] }}
    assert_failure
    assert_output --partial "$expected"
{%- else %}
    expected="{{ case["expected"] | join(" ") }}"
    run bash {{ solution }} "{{ case["input"]["series"] }}" {{ case["input"]["sliceLength"] }}
    assert_success
    assert_output "$expected"
{%- endif %}
}
{% endfor %}
