{{ header }}
{% for case in cases %}
@test '{{ case["description"] }}' {
  {% if loop.first %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} '{{ case["input"]["isbn"] }}'
  assert_success
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
