{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    expected=$(cat <<END
{{ case["expected"] | join("\n") }}
END
)
    run bash {{ solution }} {{ case["input"]["startVerse"] }} {{ case["input"]["endVerse"] }}
    assert_success
    assert_output "$expected"
}
{% endfor %}
