{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} ${{ case["input"]["heyBob"] | repr }}
  assert_success
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
# bash-specific tests
@test "no input is silence" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }}
  assert_success
  assert_output "Fine. Be that way!"
}

@test "yelling a filename expansion" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} '*READ* !'
  assert_success
  assert_output "Whoa, chill out!"
}

@test "asking a filename expansion" {
  [[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run bash {{ solution }} 'bob???'
  assert_success
  assert_output "Sure."
}
