# Run all tests for commits to master

name: bash / master

on:
  push:
    branches:
      - master
      - main

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Install bats-core
        run: sudo apt update && sudo apt -y install bats

      - name: Run tests for all exercises
        run: bash .github/scripts/ci
