# Run all tests for commits to master

name: bash / master

on:
  push:
    branches:
      - master
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install bats-core
        run: sudo apt update && sudo apt -y install bats
        # bats v1.10.0 -- https://launchpad.net/ubuntu/noble/+source/bats

      - name: Run tests for all exercises
        run: bash .github/scripts/ci
