# Run all tests for commits to master

name: bash / master

on:
  push:
    branches:
      - master
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install bats-core
        run: sudo apt update && sudo apt -y install bats
        # bats v1.10.0 -- https://launchpad.net/ubuntu/noble/+source/bats

      - name: Run tests for all exercises
        run: bash .github/scripts/ci
