{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
  run bash {{ solution }}

  # the program's exit status should be success (0)
  assert_success

  # program's output should be the expected text
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
